*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: start;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.container{
    width: 600px;
    border: 2px solid #000000;
    box-shadow: 3px 3px 0px #111111;
    margin-top: 50px;
    padding: 20px;
}
.form1{
    margin: 20px 0;
}
.form1 input[type="text"]{
    width: 350px;
    padding: 10px;
}
.btnConfirm{
    padding: 10px 20px;
    background-color: #40ae67;
    cursor: pointer;
}
.btnConfirm:hover{
    background-color: #2ec463;
    transition: 0.3s;
    transform: translateY(-2px);
}
.btnConfirm:active{
    transform: translateY(10px);
    background-color: #40ae67;
}

.task{
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.task div{
    margin: 5px 0px;
}
.task input[type="checkbox"]{
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.finalizado{
    text-decoration: line-through;
}

.task label{
    cursor: pointer;
    font-size: 20px;
    margin: 0px 5px;
}

.apagar{
    padding: 5px 10px;
    border: 1px solid #000000;
    box-shadow: 1px 1px 0px #111111;
    background-color: #ff6f59;
    color: #fff;
    cursor: pointer;
}
.apagar:hover{
    background-color: #ff3f3f;
    transition: 0.3s;
    transform: translateY(-2px);
}
.apagar:active{
    transform: translateY(19px);
    background-color: #ff6f59;
}